<% include partials/header.ejs%>
      <style>
      body {
         background-image: url("<%=imageURLs[0]%>")
      }
      </style>
   </head>
   <body>
      <main>
         <h1>
            Cool Images
         </h1>
         <form action="/search">
            <input type="text" placeholder="Type keyword" name="keyword" /><br><br>
            <button>
               Search
            </button>
         </form>

      </main>
<% include partials/footer.ejs%>