body {

   background-size: cover;
   background-repeat: no-repeat;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   font-size: 2.5em;
}

input, button {
   font-size: 2.5em;
}

main {
   background-color: rgba(0,0,0,0.75);
   width: 50%;
   margin: 0 auto; /*centers content */
}

h1 {
   color: silver;
}

#favLink, #searchLink {
   background-color: rgba(250, 250, 250, 0.75);
   color: red;
   font-size: .8ems;
}

.image {
   border-radius: 20px;
   
}

.imageContainer {
   display: inline-block;
   background-color: rgba(250,250,250,0.75);
   padding: 15px;
}

#favHeader {
   background-color: rgba(0,0,0,0.75);
   color:silver;
   width: 50%;
   border-radius: 25px;
   margin: 0 auto;
}

.keywordLink {
   background-color: rgba(0,0,0,0.75);
   color: white;
   font-size: .8em;
   margin: 7px;
}